/* GENERAL */
body {
    margin: 0;
    background-color: #001632;
    color: white;
}
a{
    text-decoration: none;
}
main {
    text-align: center;
} 
strong {
    background-color: #00e064;
    font-weight: normal;
}

/* UTILITIES */
.container {
    margin: auto;
    width: 1200px;
    max-width: 100%;
}
  
/* HEADER */
header {
    text-align: center;
}
  
header .logo {
    width: 400px;
}
  
/* MAIN CONTENT */
article h1 {
    font-size: 3em;
    margin-bottom: 0;
    font-family: sans-serif;
}
  
.title-info, .bottom-main>h3 {
    margin-bottom: 10px;
    font-size: 15px;
    color: rgb(150, 150, 150);
}
.author>span {
    color: #fff;
}
  
/* TABLE STYLE */
table {
    border-spacing: 10px;
    order: 1;
}
thead {
    background-color: white;
    color: #001632;
}
tbody tr:first-child, tbody tr:last-child {
    background-color: #00e064;
}
td:nth-child(1), td:nth-child(2) {
    width: 25%;
}
  
/* BOTTOM MAIN */
.correlati {
    display: inline-block;
    width: 48%;
    height: 300px;
    background-size: cover;
    background-position:center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}
.correlati>div {
    position: relative;
    top: 10px;
    left: 10px;
}
#articolo1 {
    background-image: url('https://www.boolean.careers/images/visual/home1.jpg');
}
#articolo2 {
    background-image: url('https://www.boolean.careers/images/visual/home2.png');
}
  
/* FOOTER  */
footer{
    text-align: center;
    font-weight: bold;
    line-height: 100px;
    background-color:#001632 ;
    color: white;
  
}
  